<!DOCTYPE html>
<html>
  <head>
    <title>Flatstack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
      <main role="main">
        <div class='container-fluid'>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <div id='remote_container'></div>
        </div>
      </main>
  </body>
</html>
